@page "/deleteCursos/{id:int}"
@using MathSolutionsBlazor.Data

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="tittle">
    <center>
        <div class="tittle_content">
            <h1>ELIMINANDO CURSO</h1>
        </div>

        <div class="container" style="width: 50%">
            <p class="text-muted" >
                ¿Estas seguro que deseas eliminar este curso? Los datos seran eliminados para siempre y no podran ser recuperdos.
            </p>
        </div>

        <br />

        <button class="btn btn-outline-dark" @onclick="Eliminar">Confirmar</button>
        <a class="btn btn-outline-primary" href="/cursos">Cancelar</a>
    </center>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


@code {

    [Parameter]

    public int id { get; set; }

    Curso? curso;

    protected override async Task OnInitializedAsync()
    {
        curso = await HTTP.GetFromJsonAsync<Curso>($"/api/Profesor/Curso/{id}");
    }

    protected async Task Eliminar()
    {
        var response = await HTTP.DeleteAsync($"/api/Profesor/EliminarCurso/{id}");
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/cursos");
        }
    }
}