&nbsp;


<footer class="bg-dark" >

        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="footer-col" style="width: auto">
                    <br />
                    <h4>Nosótros</h4>
                    <ul>
                        <li>
                            <a href="#">¿Quiénes Somos?</a>
                            <p class="text-white text-muted" style="text-align: justify;">
                                Somos un grupo de jovenes programadores dedicados y comprometidos al estudio, brindando apoyo a todo aquel que necesite ayuda y busque superarse. 
                                MathSolutions fué creado con la finalidad de otorgarte la facilidad del estudio y aprendizaje al alcance de tu mano, solo queda en ti aprovechar las
                                oportunidades y superar los obstaculos que enfrentarás a lo largo de tus estudios.
                            </p>
                            <a href="#"> -El equipo de MathSolutions</a>
                        </li>
                        
                    </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="footer-col" style="width: auto">
                    <br />
                    <h4>¿Bugs? <i class="fas fa-bug"></i> ¡Repórtalos!</h4>
                    <ul>

                        <li><a class="text-white footerText">cmezquita.alv@gmail.com</a></li>

                        <li><a class="text-white footerText">brandonavila218@gmail.com</a></li>

                        <li><a class="text-white footerText">osoriowendy2000@gmail.com</a></li>

                        <li><a class="text-white footerText">a.paredes12345@hotmail.com</a></li>
                    </ul>
                </div>
                </div>

                <div class="col">
                    <div class="footer-col" style="width: auto">
                    <br />
                    <h4>Contáctanos</h4>
                    <ul>

                        <li><a class="text-white">Carlos Mezquita /Diseñador</a></li>
                        <li><h6 class="text-white footerText">+52 2281957753</h6></li>

                        <li><a class="text-white">Brandon Avila /Programador</a></li>
                        <li><h6 class="text-white  footerText">+52 9999023763</h6></li>

                        <li><a class="text-white">Wendy Solís /DB Manager</a></li>
                        <li><h6 class="text-white  footerText">+52 9991537484</h6></li>

                        <li><a class="text-white">Guillermo Paredes /Programador</a></li>
                        <li><h6 class="text-white  footerText">+52 9999940728</h6></li>


                    </ul>
                </div>
                </div>

                <div class="col">
                    <div class="footer-col" style="width: auto">
                    <br />
                    <h4>Redes Sociales</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/Carlos.mezquitaalvarado/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/CarlosMezq22"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/carlos.mezq/?hl=es"><i class="fab fa-instagram"></i></a>
                        <br />
                        <br />
                        <a href="https://www.facebook.com/profile.php?id=100009279377014"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <br />
                        <br />
                        <a href="https://www.facebook.com/yukittOsorio"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <br />
                        <br />
                        <a href="https://www.facebook.com/guillermo.aldair.77"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>

                    </div>
                </div>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="text-center">
            <p class="text-muted">© MathSolutions 2022 | Todos los derechos reservados. | Al navegar en nuestro sitio, aceptas nuestras políticas de privacidad.</p>
        </div>
        &nbsp;

</footer>