@inherits LayoutComponentBase


<PageTitle>MathSolutionsApp</PageTitle>

<div class="page">
    <div class="main">

        <NavMenu />

        <div class="content px-8">
            @Body
        </div>
    </div>
    <Footer/>

</div>